@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="UserFavorites" asp-action="Delete" asp-route-ISBN_13="@ViewData["ISBN_13"]" onclick="loadFavorite(@ViewData["ISBN_13"])" class="btn btn-danger">Unfavorite</a>