@model SocialLibraryMVC.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1 style="padding-top: 15px;">Create A New Book Entry</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" >
                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <!--<input asp-for="AuthorId" class="form-control" />-->
                <span asp-validation-for="AuthorId" class="text-danger"></span>
                <!-- Link to Create new Author if author is not in list -->
                <a asp-controller="Authors" asp-action="Create">Add New Author</a>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>().OrderBy(p => p.Text)" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishYear" class="control-label"></label>
                <input asp-for="PublishYear" class="form-control" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN_10" class="control-label"></label>
                <input asp-for="ISBN_10" class="form-control" />
                <span asp-validation-for="ISBN_10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN_13" class="control-label"></label>
                <input asp-for="ISBN_13" class="form-control" />
                <span asp-validation-for="ISBN_13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover" class="control-label"></label>
                <input asp-for="Cover" type="file" name="image" accept=".png,.jpg,.jpeg" class="form-control" onchange="document.getElementById('cover').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div>
                
                @if (ViewBag.Cover != null)
                {
                    <img id="cover" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.Cover))">
                }
                else
                {
                    <img id="cover" style="width:350px;height:350px; object-fit:cover" src="">
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
